<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>sprite工場</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<main>
<div id="app">
<h1><i class="fas fa-industry"></i> sprite工場へようこそ</h1>

<h2><label for="inout_directory_path">↓に画像のディレクトリのパスを入れてね<i class="far fa-star"></i></label></h2>
<p><input v-model="selectDirPath" id="inout_directory_path" type="text"></p>
<p><input @change="onFileChange" v-if="inputFileView" id="select_directory" type="file" webkitdirectory></p>

<div class="btnNarabi2" v-if="imageList.length">
<p class="btn color1"><a v-on:click.stop.prevent="createSprite" href=""><i class="far fa-grin-squint"></i><i class="fas fa-magic"></i> 実行する</a></p>
<p class="btn color2"><a v-on:click.stop.prevent="canselSprite" href=""><i class="far fa-dizzy"></i><i class="fas fa-times-circle"></i> キャンセル</a></p>
</div>


<div class="spriteAnimationWrap" v-if="spriteInfo.createFlg">
	<div class="spriteAnimation" :style="{width: spriteInfo.frameWidth + 'px'}">
		<img :src="spriteInfo.path" alt="">
	</div>

	<div class="spriteInfo">
		<ul>
			<li>1フレームの幅：{{spriteInfo.frameWidth}}px</li>
			<li>高さ：{{spriteInfo.height}}px</li>
			<li>合計幅：{{spriteInfo.width}}px</li>
			<li>合計枚数：{{spriteInfo.flameNum}}枚</li>
		</ul>
	</div>


</div>



	<div class="animationInfo">
		<ul>
			<li>
				<label>
					<dl>
						<dt>animation-duration：</dt>
						<dd><input type="number" min="0" value="">s</dd>
					</dl>
				</label>
			</li>
			<li>
				<dl>
					<dt>animation-timing-function：</dt>
					<dd>
						<ul>
							<li>
								<label><input type="radio" name="timing-function_select" checked>デフォルト</label>
							</li>
							<li>
								<label><input type="radio" name="timing-function_select">steps</label>
							</li>
							<li>
								<label><input type="radio" name="timing-function_select">cubic-bezier</label>
							</li>
						</ul>
						<div class="input_timing_function default">
							<select name="" id="">
								<option value="linear">linear</option>
								<option value="ease">ease</option>
								<option value="ease-in">ease-in</option>
								<option value="ease-out">ease-out</option>
								<option value="ease-in-out">ease-in-out</option>
							</select>
						</div>
						<div class="input_timing_function step">
							<label>step：<input type="number" min="0" value=""></label>
						</div>
						<div class="input_timing_function cubic">
							cubic-bezier：(<input type="number">, <input type="number">, <input type="number">)
						</div>
					</dd>
				</dl>
			</li>
			<li>
				<label>
					<dl>
						<dt>animation-delay：</dt>
						<dd><input type="number" min="0" value="">s</dd>
					</dl>
				</label>
			</li>
			<li>
				<label>
					<dl>
						<dt>animation-iteration-count：</dt>
						<dd>
							<select name="" id="">
								<option value="infinite">infinite</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</dd>
					</dl>
				</label>
			</li>
			<li>
				<label>
					<dl>
						<dt>animation-direction：</dt>
						<dd>
							<select name="" id="">
								<option value="normal">normal</option>
								<option value="reverse">reverse</option>
								<option value="alternate">alternate</option>
								<option value="alternate-reverse">alternate-reverse</option>
							</select>
						</dd>
					</dl>
				</label>
			</li>
			<li>
				<label>
					<dl>
						<dt>animation-fill-mode：</dt>
						<dd>
							<select name="" id="">
								<option value="none">none</option>
								<option value="forwards">forwards</option>
								<option value="backwards">backwards</option>
								<option value="both">both</option>
							</select>
						</dd>
					</dl>
				</label>
			</li>
		</ul>
	</div><!-- animationInfo -->













<ul class="imageList" v-if="imageList.length">
	<li v-for="(image, index) in imageList">
		<img :src="image.src" alt="">
		<span>{{image.name}}</span>
	</li>
</ul>

<div class="loadingWrap" v-if="loadingFlg">
	<p class="message">{{ loadingMessage }}</p>
	<div class="loadingAnime"></div>
</div>


</div>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../app/sprite.js"></script>
</html>
